@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #ff0147;
    --secondary-color: #212429;
    --text-light: #d1d5db;
    --white: #fff;
    --max-width: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    transition: 0.3s;
}

ul{
    list-style: none;
}

body{
    font-family: poppins, sans-serif;
    background-image: url(Img/bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

.nav_logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.nav_logo a img{
    display: flex;
    max-width: 36px;
}

.nav_logo span{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: .5s;
    z-index: -1;   /* transform: translateY(-100%); */
}

.nav_links.open{
    transform: translateY(0);
}

.nav_links a{
    font-size: 1.2rem;
    color: var(--white);
}

.nav_links a:hover{
    color: var(--secondary-color);
}
